{% extends 'common_app/base.html' %}
{% load static %}

{% block body_block %}
    <link rel="stylesheet" href="{% static 'accounts/css/profile_pic.css' %}"/>

    <blockquote class="blockquote text-center">
        <h3 class="mb-0"><em>Forex world Latest News</em></h3>

    </blockquote>


    {% if articles %}

        {% for article in articles %}
            <br>
            <div id="dashes-div">

                <blockquote class="blockquote text-center">
                    <p class="mb-0">{{ article.title }}</p>
                    <footer class="blockquote-footer"><em>Author:{{ article.user.username }},</em>
                        <cite title="date">{{ article.date }}</cite></footer>
                </blockquote>
                <p class="text-center">
                    <a href="{% url 'view article' article.pk %}">View full Article with Comments</a>
                </p>
            </div>
            <hr>
        {% endfor %}
        {% if is_paginated %}

            <ul class="pagination justify-content-center pagination-lg">
                {% if page_obj.has_previous %}
                    <li ><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active "><span>{{ i }} <span class="sr-only">(current)</span></span></li>

                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>

        {% endif %}
    {% else %}
        <br>
        <h3 class="text-center"><em>There are no news at the moment! Be the first to add one!</em></h3>
        <br>

        <div class="text-center">
            <a href="{% url 'create article' %}"><big>Add news</big></a>
        </div>

    {% endif %}



{% endblock %}
