{% extends 'common_app/base.html' %}
{% load static %}

{% block body_block %}
    <link rel="stylesheet" href="{% static 'accounts/css/profile_pic.css' %}"/>

    <blockquote class="blockquote text-center">
        <h3 class="mb-0"><em>Forex world Latest News</em></h3>

    </blockquote>


    {% if articles %}

        {% for article in articles reversed %}
            <br>
            <div id="dashes-div">

                <blockquote class="blockquote text-center">
                    <p class="mb-0">{{ article.title }}</p>
                    <footer class="blockquote-footer"><em>Author:{{ article.user.username }},</em>
                        <cite title="date">{{ article.date }}</cite></footer>
                </blockquote>
                <p class="text-center">
                    <a href="{% url 'view article' article.pk %}">View full Article with Comments</a>
                </p>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <br>
        <h3 class="text-center"><em>There are no news at the moment! Be the first to add one!</em></h3>
        <br>

        <div class="text-center">
            <a href="{% url 'create article' %}"><big>Add news</big></a>
        </div>

    {% endif %}



{% endblock %}
