{% extends 'common_app/base.html' %}


{% block body_block %}
    <div class="row justify-content-center">
        <div class="col-10">
            {% if articles %}
                <blockquote class="blockquote text-center">

                    {% with articles|first as article %}<h3 style="color: indianred"><em><u>
                        {{ article.user.username }}`s articles:</u></em></h3>{% endwith %}
                    <br>
                    <h4 class="mb-0" style="color: #888888"><em>Articles count: {{ total }}</em></h4>

                </blockquote>
                {% for article in articles reversed %}
                    <br>
                    <div id="dashes-div">

                        <blockquote class="blockquote text-center">
                            <p class="mb-0">{{ article.title }}</p>
                            <footer class="blockquote-footer"><em>Author:{{ article.user.username }},</em>
                                <cite title="date">{{ article.date }}</cite></footer>
                        </blockquote>
                        <p class="text-center">
                            <a href="{% url 'view article' article.pk %}">View more</a>
                        </p>
                    </div>
                    <hr>
                {% endfor %}
                {% if is_paginated %}
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}

            {% else %}

                <h3 class="mb-0"><em>There are no articles at the moment!</em></h3>
                <br>
                <a class="btn btn-success" href="javascript:history.back()">Back</a>
            {% endif %}
        </div>
    </div>
{% endblock %}