{% extends 'common_app/base.html' %}


{% block body_block %}
    <div class="row justify-content-center">
        <div class="col-10">
            {% if articles %}
                <blockquote class="blockquote text-center">

                    {% with articles|first as article %}<h3 style="color: indianred"><em>
                        {{ article.user.username }}`s articles({{ total }}):</em></h3>{% endwith %}


                </blockquote>
                {% for article in articles %}
                    <br>
                    <div id="dashes-div">

                        <blockquote class="blockquote text-center">
                            <p class="mb-0">{{ article.title }}</p>
                            <footer class="blockquote-footer"><em>Author:{{ article.user.username }},</em>
                                <cite title="date">{{ article.date }}</cite></footer>
                        </blockquote>
                        <p class="text-center">
                            <a href="{% url 'view article' article.pk %}">View more</a>
                        </p>
                    </div>
                    <hr>
                {% endfor %}
                {% if is_paginated %}
                    <br>
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                            <a class="page-link" href="">Next</a>
                        {% endif %}
                    </ul>

                {% endif %}

            {% else %}

                <h3 class="mb-0"><em>There are no articles at the moment!</em></h3>
                <br>
                <a class="btn btn-success" href="javascript:history.back()">Back</a>
            {% endif %}
        </div>
    </div>
{% endblock %}