{% extends 'common_app/base.html' %}
{% block body_block %}
    <div class="row justify-content-center">
        <div class="col-8">
            {% if categories %}
                {% for category in categories %}
                    <br>
                    <h3 class="text-left" style="color:brown">{{ category.name }} {% if request.user.is_superuser %}
                        <span>
                                    <a class="btn blue-gradient btn-rounded" style="color: darkgreen"
                                       href="{% url 'edit category' category.pk %}">Edit<i
                                            class="far fa-gem ml-1"></i>
                                    </a>
                                    <a class="btn btn-indigo btn-rounded" style="color: red"
                                       href="{% url 'delete category' category.pk %}">Delete<i
                                            class="fas fa-download ml-1"></i>
                                    </a>
                                </span>
                    {% endif %}</h3>
                    <hr>
                    <ul>
                        {% for l in category.links_set.all %}
                            <br>
                            <li><h5>Description: {{ l.description }} <a href="{{ l.link }}" target="_blank">
                                Link</a>
                                {% if request.user.is_superuser %}
                                    <span>
                                    <a class="btn blue-gradient btn-rounded" style="color: darkgreen"
                                       href="{% url 'edit links' l.pk %}">Edit<i
                                            class="far fa-gem ml-1"></i>
                                    </a>
                                    <a class="btn btn-indigo btn-rounded" style="color: red"
                                       href="{% url 'delete links' l.pk %}">Delete<i
                                            class="fas fa-download ml-1"></i>
                                    </a>
                                </span>
                                {% endif %}
                            </h5></li>
                            <hr>
                        {% endfor %}
                    </ul>
                    <hr>
                {% endfor %}
                {% if is_paginated %}
                    <br>
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                            <a class="page-link" href="">Next</a>
                        {% endif %}
                    </ul>

                {% endif %}
            {% else %}
                <h4 class="text-center">There are no links added!</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}
