{% extends 'common_app/base.html' %}
{% load crispy_forms_filters %}
{% block body_block %}
    <form method="POST" action="">
        <h3 class="text-center">Are you sure you want to delete "{{ link.link }}" from currencies list ?</h3>
        {% csrf_token %}
        <br>
        <div class="text-center">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a class="btn btn-success" href="javascript:history.back()">Cancel</a>
        </div>

    </form>
{% endblock %}