{% extends 'common_app/base.html' %}
{% load crispy_forms_filters %}
{% block body_block %}
    <div class="row justify-content-center">
        <div class="col-8">
            <form method="POST" action="">
                <h3>Edit your link here</h3>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-secondary">Save</button>
                <a class="btn btn-success" href="javascript:history.back()">Cancel</a>
            </form>
        </div>
    </div>

{% endblock %}